<div class="footer">
  <div class="information footer__col">
    <span>Information</span>
    <ul>
      <li>
        <a href="#" routerLink="/home">
          <span>About Us</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/home">
          <span>Blog</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/home">
          <span>Voucher</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/home">
          <span>Know Your Flowers</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="branches footer__col">
    <span>Branches</span>
    <ul>
      <li>
        <span>
          No.157, Tran Ba Giao Street, Go Vap District, Ho Chi Minh City
        </span>
      </li>
      <li>
        <span>
          No.133, Quang Trung Street, Go Vap District, Ho Chi Minh City
        </span>
      </li>
    </ul>
  </div>

  <div class="contact footer__col">
    <span>Contact</span>
    <ul>
      <li>
        <a href="#" routerLink="/home">
          <ng-icon name="bootstrapFacebook"></ng-icon>
          <span>Facebook</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/home">
          <ng-icon name="bootstrapInstagram"></ng-icon>
          <span>Instagram</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/home">
          <ng-icon name="bootstrapTwitter"></ng-icon>
          <span>Twitter</span>
        </a>
      </li>
    </ul>
  </div>
</div>
