.admin-page {
  padding: 20px 20px 50px;

  .functions {
    .new-btn {
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      background: #000;
      transition: 0.3s;
      &:hover {
        background: #ccc;
      }
      .plus-icon {
        font-size: 30px;
        line-height: 100%;
      }
      span {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }

  .flower-list {
    margin-top: 15px;
    ul {
      display: grid;
      grid-template-columns: auto auto;
      gap: 20px;
    }
  }
}
