<div class="admin-flower-card">
  <img src="{{ flower.imageUrl }}" alt="{{ flower.name }}" />
  <div class="info">
    <span class="name">{{ flower.name }}</span>
    <span class="price">{{ flower.price }} VND</span>
    <span class="quantity">Quantity: {{ flower.quantity }}</span>
  </div>
  <div class="functions">
    <button class="import-btn" (click)="importFlower(flower, 1)">Import</button>
    <button class="edit-btn" (click)="editFlower(flower)">Edit flower</button>
    <button class="remove-btn" (click)="removeFlower(flower.flowerId)">Remove</button>
  </div>
</div>
