<div class="flower-page">
  <div class="image">
    <img src="{{ flower.imageUrl }}" alt="{{ flower.name }}" />
  </div>

  <div class="info">
    <div class="name">{{ flower.name }}</div>
    <div class="price">{{ flower.price }} VND</div>
    <div class="quantity">Rest amount: {{ flower.quantity }}</div>
  </div>

  <div class="function">
    <span>Quantity</span>
    <app-quantity-box [quantity]="quantity" (onChangeQuantity)="changeQuantity($event)"></app-quantity-box>
    <button class="add-to-cart-btn" (click)="addToCart(flower, quantity)">
      ADD TO CART
    </button>
  </div>
</div>
