@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins&family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // colors
}

body {
  font-size: 18px;
  font-family: "Mooli", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
}

input,
button {
  border: none;
  border-radius: 0;
}

input {
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}
